<br />
<div class="container is-large" style="margin-bottom:0">
    <div class="navbar is-light">
        <div class="navbar-menu">
            <div class="navbar-left">
                <a class="navbar-item is-active">Open Issues</a>
                <a class="navbar-item">Closed Issues</a>
            </div>
            <div class="navbar-right">
                <a class="navbar-item">Sort</a>
                <a class="navbar-item">Add label</a>
            </div>
        </div>
    </div>
</div>
<div class="alert is-white container" style="border: 1px solid grey">
    <div class="issue">
        <div class="issues-info">
            <div class="issue-subject">Some random issue</div>
            <div class="issue-date">29 aug 2018</div>
        </div>
        <div class="issue-setting">
            settings
        </div>
    </div>
</div>