.issue{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1em;
}

.issue a{
    color: rgb(26, 26, 26);
}
.issue:hover{
    background-color: rgb(204, 204, 248);
}


.issues-info{
    display: flex;
    flex-direction: column;
    align-self: flex-start
}

.issue-subject{
    font-size: 2em;
    font-weight: bold;
}

.issue-date{
    font-size: 1em;
    font-weight: normal;
}


.issue-setting{
}

