<div class="navbar is-dark">
	
	<div class="navbar-menu">
		<div class="navbar-left">
		<%= link_to 'Issues', current_issue_path, class: "navbar-item" %>
		<%= link_to 'Closed', closed_issue_path, class: "navbar-item" %>
		<%= link_to 'Form', new_complaint_path, class: "navbar-item" %>
		</div>
		<div class="navbar-right">
		<%= link_to 'Sign In', new_user_session_path, class: "navbar-item" %>
		</div>
	</div>
</div>